@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Cadastro de Clientes</h1>
    <p> Aplicação desenvolvida em Asp.NET MVC com SQL Server como banco de dados.</p>
</div>
